# Ignore everything in "wp-content" except these directories. #
/*
!.gitignore
!plugins/
!themes/
!README.md

# Ignore everything in "plugins" except certain plugins. #
plugins/*
!plugins/wintech-functionality/

# Ignore everything in "themes" except the active theme. #
themes/*
!themes/Total-child/

# Ignore packages #
themes/Total-child/node_modules/

# Ignore system files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes