
@font-face {
    font-family: 'nunito';
    src: url('../../fonts/nunito-bold-webfont.eot');
    src: url('../../fonts/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('../../fonts/nunito-bold-webfont.woff') format('woff'),
         url('../../fonts/nunito-bold-webfont.ttf') format('truetype'),
         url('../../fonts/nunito-bold-webfont.svg#nunitobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('../../fonts/nunito-extrabold-webfont.eot');
    src: url('../../fonts/nunito-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nunito-extrabold-webfont.woff2') format('woff2'),
         url('../../fonts/nunito-extrabold-webfont.woff') format('woff'),
         url('../../fonts/nunito-extrabold-webfont.ttf') format('truetype'),
         url('../../fonts/nunito-extrabold-webfont.svg#nunitoextrabold') format('svg');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('../../fonts/nunito-extralight-webfont.eot');
    src: url('../../fonts/nunito-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nunito-extralight-webfont.woff2') format('woff2'),
         url('../../fonts/nunito-extralight-webfont.woff') format('woff'),
         url('../../fonts/nunito-extralight-webfont.ttf') format('truetype'),
         url('../../fonts/nunito-extralight-webfont.svg#nunitoextralight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'nunito';
    src: url('../../fonts/nunito-light-webfont.eot');
    src: url('../../fonts/nunito-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nunito-light-webfont.woff2') format('woff2'),
         url('../../fonts/nunito-light-webfont.woff') format('woff'),
         url('../../fonts/nunito-light-webfont.ttf') format('truetype'),
         url('../../fonts/nunito-light-webfont.svg#nunitolight') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'nunitoregular';
    src: url('../../fonts/nunito-regular-webfont.eot');
    src: url('../../fonts/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/nunito-regular-webfont.woff2') format('woff2'),
         url('../../fonts/nunito-regular-webfont.woff') format('woff'),
         url('../../fonts/nunito-regular-webfont.ttf') format('truetype'),
         url('../../fonts/nunito-regular-webfont.svg#nunitoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
