// Structure
$desktop__min-width: 768px;
$tablet-min-width: 480px;
$content-padding: 1.9230769231rem;

// Colors
$color__event-red: rgb(217, 42, 72);
$color__text-grey: rgb(85, 85, 85);

// Typography
